{{define "weibo/create.html"}}
{{template "header.html" .}}
    {{if .islogin}}
    <form action="/createtags" method="POST">
        <input type="text" id="tags" name="tags"><br/>
        <button type="submit">提交</button>
    </form>

    <span style="border: none" id="addTag" class="glyphicon glyphicon-edit"></span>
    <form id="postForm" action="" method="post" >
        <input type="text" id="tags" name="tags"><br/>
        <textarea id="content" name="content"></textarea><br/>
        <span id="tagBug">
            <a id="postSave" class="glyphicon glyphicon-saved">保存</a>
        </span>
       <button type="submit">提交</button>
    </form>
    {{end}}
    {{template "footer.html" }}
{{end}}