{{define "weibo/display.html"}}
{{template "header.html" .}}
    {{template "header.html" .}}
    <tr th:each="tag : ${weibo.tags}">
        {{range $k,$v := .weibo.Tags}}
        <a href="/tag/{{$v.ID}}">
            <span th:text="' ' + ${tag.content}"> {{$v.Content}}</span>
        </a>
        {{end}}
    </tr>
    <span>{{.weibo.CreatedAt}}</span>
    <span>{{.weibo.ViewsCnt}}</span>
    <div id="content">{{.weibo.Content}}</div>
    <button><a href="/auth/comment">高级评论</a></button>
    <div>
        <form action="/auth/comment" method="post">
            <div >
                Create Comment
                <input type="hidden" name="weiboid" value="{{.weibo.ID}}"></input>
                <textarea name="content"></textarea><br/>
                <button type="submit">简单评论
            </div>
        </form>
    </div>
    <hr>Comment List
    {{range .commentlist}}
    <div class="pname">
        <h4 class="mb-10">  
            <a href="#" class="card-title l-blue">UserID: {{.UserID}}</a>
            <small><i class="icofont icofont-ui-calendar"></i>
                {{.CreatedAt}} 
            </small>
        </h4>
        <p class="comment-text mb-10">{{.Content}}</p>
    </div>
    <button><a href="/auth/comment/{{.ID}}">修改评论</a></button>
    {{end}}
    {{template "footer.html" }}
{{end}}