{{define "weibo/update.html"}}
{{template "header.html" .}}
    {{template "header.html" .}}
    <span id="tagBug">
        {{range $k,$v := .weibo.Tags}}
        <button>
                <a href="/tag/{{$v.ID}}">{{$v.Content}}</a>
                <span>{{$v.ID}}</span>
        </button>&nbsp;
        {{end}}
    </span><br/><br/>
    <form action="" method="POST">
        <input id="tags" name="tags" type="hidden">
        <textarea id="demo" name="content">{{.weibo.Content}}</textarea><br/>
        <button type="submit">更新</button>
    </form>
    {{template "footer.html" }}
{{end}}