{{define "home/home.html"}}

    {{template "header.html" .}}
    <br>
    <section>
    {{range $k,$v:=.weibos}}
        <div>
            <span><a href="/weibo/{{$v.ID}}">
                {{$v.Content}}
            </a></span>
            <span>{{$v.CreatedAt}}</span>
        </div>
        <div>
            <tr>
                {{range $tagkey,$tagvalue:=$v.Tags}}
                <a href="/tag/{{$tagvalue.ID}}">
                    # <span>{{$tagvalue.Content}}</span>
                </a>
                {{end}}
            </tr>
        </div>
    <hr>
    {{end}}
    </section>

    <div>
        <ul>
            {{range $tagkey,$tv:=.tags}}
            <li><a href="/tag/{{$tv.ID}}">{{$tv.Content}}({{$tv.Num}})</a></li>
            {{end}}
        </ul>
    </div>

    <div>
        <ul>
        {{range $key,$v:=.maxViewWeibos}}
            <li><a href="/weibo/{{$v.ID}}">{{$v.Content}}({{$v.ViewsCnt}})</a></li>
        {{end}}
        </ul>
    </div>
    <div>
        <ul>
        {{range $key,$v:=.maxCommentWeibos}}
            <li><a href="/weibo/{{$v.ID}}">{{$v.Content}}({{$v.ViewsCnt}})</a></li>
        {{end}}
        </ul>
    </div>

    {{$sesid := .sessions.Userid}}
    {{ range .weiboList }}
    <div class="blogs mb-30">
        <div class="card"><br>
            <div class="card-content w100dt">
                <p>
                    <a href="/readweibo/{{.ID}}" class="card-title">{{.Tags}}</a> 
                    <a href="/readweibo/{{.ID}}" class="card-title">{{.Content}}</a> 
                </p>
                <p>
                    <ul class="post-mate-time left">
                        <li>
                            <i class="icofont icofont-clock-time"></i> {{.CreatedAt}}
                        </li>
                        <li>
                            <i class="icofont icofont-time"></i> {{.UpdatedAt}}
                        </li>
                    </ul>
                </p>                                              
            </div>
            <div class="card-content w100dt">
                <ul class="post-mate-time left">
                    <li>
                        <p class="hero left">
                             By - <a href="{{if eq .User.ID $sesid}} /my.html {{else}}/user/{{.User.ID}}/info.html{{end}}" class="l-blue">
                                {{.User.Username}}
                                - {{.UserID}}
                            </a>
                        </p>
                    </li>
                </ul>
            </div><br>                   
            <!-- /.card-content -->
        </div>                  
        <!-- /.card -->
    </div>
    {{end}}

    {{template "footer.html" }}
{{end}}