{{define "header.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>?</title>
</head>
<body>

<nav>
    <div>
        <div align="left">
            <a href="/">MWeiBo</a>&nbsp&nbsp&nbsp&nbsp
            <a href="/">Admin</a>&nbsp&nbsp&nbsp&nbsp
        </div>
        
        <div align="right">
            {{if .islogin}}
            <a href="/my_favorite.html">个人中心</a>&nbsp&nbsp&nbsp&nbsp
            <a href="/user/{{.sessions.Userid}}">{{.sessions.Username}}</a>&nbsp&nbsp&nbsp&nbsp
            
            <a id="logout" href="/logout">退出</a>&nbsp&nbsp&nbsp&nbsp
            {{else}}
            <a href="/login">登录</a>&nbsp&nbsp&nbsp&nbsp
            <a href="/register">注册</a>&nbsp&nbsp&nbsp&nbsp
            {{end}}

            <a href="/auth/weibo">写微博</a>&nbsp&nbsp&nbsp&nbsp
        </div>
    </div>
    Welcome To Mweibo
    {{if .user}}
    This is Home of {{.user.Username}} on #{{.message}}#
    {{end}}
    <hr>
</nav>
{{end}}